page-summary {

}

ion-col{
	font-size : 16px;
	font : Arial;
}

.mytable{
ion-col { border: 1px solid grey;
padding-bottom:15px;
padding-top:15px;
padding-left:40px;
padding-right:40px;


 }
}

.flex{
	display: flex;
  justify-content: center;
  align-items: center;
}



.fixed-top-color
{position:fixed;
top:0;
left:0;
right:0;
height:40%;
z-index: -1;
background:#ffdf00;
background:-webkit-linear-gradient(45deg, #ffdf00 0, #ffda33 100%);
background:linear-gradient(45deg, #ffdf00 0, #ffda33 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@ajencyYellow', endColorstr='@ligterYellow', GradientType=1)
}


.fixed-bottom-color
{position:fixed;
bottom:0;
left:0;
right:14px;
height:58%;
z-index:-1;
background:#ffdf00;
background:-webkit-linear-gradient(45deg, #ffdf00 0, #ffda33 100%);background:linear-gradient(45deg, #ffdf00 0, #ffda33 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@ajencyYellow', endColorstr='@ligterYellow', GradientType=1)
}

.card
{background:#fff;
border-radius:4px;
box-shadow:0 0 13px rgba(0,0,0,0.1),0 12px 25px -7px rgba(0,0,0,0.1);
padding:15px;
margin-bottom:25px
}

.card.has-hover
{position:relative;
top:0;
-webkit-transition:box-shadow .5s,top .5s;
transition:box-shadow .5s,top .5s
}

.card.has-hover:hover
{top:-1px;
box-shadow:0 0 18px rgba(0,0,0,0.15),0 35px 25px -20px rgba(0,0,0,0.1)
}

.card-body
{
position:relative;
padding-left:40px;
padding-right:40px;
}

.form-control:hover{border-color:#757575}

.search-bar {
   length : 100px
  }
